<h1>Add a new offer</h1>

<%= simple_form_for (@offer) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :title %>
  <%= f.submit "Add", class: "btn btn-info" %>
<% end %>
</br>

<p><%= link_to "Cancel", dashboard_path, class: "btn btn-outline-info" %></p>
